@tailwind base;
@tailwind components;
@tailwind utilities;




/* Ajout animation shimmer */
@keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-shimmer {
    animation: shimmer 2s infinite linear;
  }


  @keyframes fade-in-out {
    0%, 100% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
  }
  
  .animate-fade-in-out {
    animation: fade-in-out 1.8s ease-in-out infinite;
  }
  